[submodule "backend"]
	path = backend
	url = https://github.com/kenawak/home-of-projects-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kenawak/HomeOfProjects.git
[submodule "landingpage-hop"]
	path = landingpage-hop
	url = https://github.com/kenawak/landingpage-hop
